<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<scripst type="text/javascript" src="/resources/js/user.js"></script>
<script type="text/javascript" src="/resources/js/vendor/jquery.js"></script>
<script src="/resources/js/materialize.min.js"></script>
<script src="/resources/js/sweetalert2.min.js"></script>
<script src="/resources/js/lodash.min.js"></script>
<script src="/resources/js/chosen.jquery.min.js"></script>
<script src="/client/bundle.js"></script>
<script class="text/javascript">
  $('.button-collapse').sideNav({
       menuWidth: 300, // Default is 240
       edge: 'left', // Choose the horizontal origin
       closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
       draggable: true // Choose whether you can drag to open on touch screens
     }
   );
</script>
<script>
  $(document).ready(function(){
    $('ul.tabs').tabs('select_tab', 'tab_id');
  });
      
</script>
</body>
</html>
