<% include includes/header.ejs %>

      <title>Sentinel | Home Automation Security System</title>
  </head>
  <body>
    <% include includes/navbar.ejs %>
    <% include includes/sidenav.ejs %>
      <div id=app></div>

    <% include includes/footer.ejs %>
